langchain 
langchain-openai
langchain-mistralai
langchain-community
openai 
mistralai
chromadb
sentence-transformers
pandas
numpy
fastapi
uvicorn
streamlit
tqdm
requests
tiktoken
python-dotenv
pypdf
beautifulsoup4 
lxml
requests